p,
pre,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 63px 99px 30px 100px;
}


.brand-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.brand {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: #000000;
    text-decoration: none;
    display: block;
}

.brand span {
    color: #4BCAFF
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    box-sizing: border-box;
    border: 1px solid #35444F;
}

.navigation li {
    padding: 24px 38px 18px 33px;
    border-right: 1px solid #FFFFFF;
}

.navigation-first {
    border-left: 1px solid #FFFFFF;
}

.navigation a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    margin-top: 49px;
    margin-bottom: 51px;
}

.content-nav {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 344px;
    padding-bottom: 30px;

}

.content-nav li {
    box-sizing: border-box;
    padding-left: 42px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.content-nav a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 27px;
    color: #495863;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 34px;
    width: 885px;
}

.main p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
}

.logo {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    width: 100%;
    overflow: hidden;
    transition: transform 0.25s;
}

.logo:hover img {
    transform: scale(1.2);
}

.footer {
    background-color: rgba(99, 105, 110, 0.48);
    display: flex;
    flex-direction: row;
    gap: 135px;
    min-height: 69px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(99, 105, 110, 0.48);
}

.footer-nav {
    display: flex;
    height: 100%;
    width: 875px;
    justify-content: space-between;
}

.footer-nav a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer span {
    color: #3181A6;
}

.copyright {
    display: block;
    width: 190px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24px;
    color: #010101;
    text-decoration: none;
    text-align: center;
}

.navigation li:hover {
    background-color: #222F3A;
    box-sizing: content-box;

}

.content-nav li:hover {
    color: #35444F;
    background-color: #DBDBDB;
    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    padding-left: 72px;
}

.footer-nav li:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-nav a:hover {
    color: #3181A6;
}